div.frist{
    background-color: hsl(30, 54%, 90%);
    width: 70%;
    /* position: relative; */
    padding-block: 50px;
}
section{
margin: auto;
width: 50%;
    background-color: hsl(0, 0%, 100%);
    padding: 16px;
    border-radius: 10px;
    font-size: 16px;
    /* position: absolute;
    left: 50%;
    top: 50%; */
    /* transform:translate(-50%, -50%) ; */

 
}
section>div>img{
    width: 100%;
    border-radius: 10px;
}
section>div.prepara{
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    line-height: 27px;
}
section>div.prepara>h3{
    color: hsl(332, 51%, 32%);
}
section>div.ingred{
    line-height: 27px;
    border-bottom:2px solid  hsl(30, 18%, 87%);
}
section>div.ingred>h2{
    color: hsl(14, 45%, 36%);
}
section>div.instruc{
    line-height: 27px;
    border-bottom: 2px solid  hsl(30, 18%, 87%);
}
section>div.instruc>h2{
    color: hsl(14, 45%, 36%);
}
section>div.nutri>h2{
    color:hsl(14, 45%, 36%); ;
}
section>div>span{
    display: flex;
}
section>div>span>div{
    flex: auto;
}
section>div>span>div>p{
    border-bottom: 2px solid  hsl(30, 18%, 87%);
    /* line-height: 18px; */
    font-size: 16px;

}
section>div>span>div>h3{
    border-bottom: 2px solid  hsl(30, 18%, 87%);
    /* line-height: 18px; */
    font-size: 16px;
    color: hsl(14, 45%, 36%);;

}